.currencyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    .form {
        display: flex;
        width: 50vw;
        .currencyBlock {
            display: flex;
            flex-direction: column;
            width: 20vw;
            height: 30vh;
            .currencyInput{
                display: flex;
                .currencyInputBlock {
                    display: flex;
                    flex-direction: column;
                }
            }
            .currencySelectBlock {
                display: flex;
                align-items: center;
                .currencySelect {
                    display: flex;
                    align-self: flex-end
                }
            }
        }
    }
   
}